<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Powitalna</title>
</head>
<body>
    <h1>Witaj w TimZooApp!</h1>
    <p>To jest Twoja strona powitalna. Możesz z niej przejść do różnych funkcji aplikacji.</p>
    <a href="register.html">Rejestracja Nowego Użytkownika</a>
    <li><a href="logowanie.html">Logowanie Użytkownika</a></li>
    <li><a href="addPiesek.html">Dodaj Pieska</a></li> <!-- Link do formularza dodawania pieska -->
    <a href="viewPieski.html">Wyświetl wszystkie pieski</a> <!-- Przycisk do strony z pieskami -->
</body>
</html>
