.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 2rem;
    margin-top: 2rem;
}

.register__form p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.register__form__input {
    width: 300px;
    font-size: large;
    background-color: var(--background-color);
    border: none;
    border-bottom: 1px solid var(--font-color);
    color: var(--font-color);
}

.register__form__input:focus {
    outline: none;
}

.register__button {
    padding: 0.6em 1.2em;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s;
    color: #ffffff;
    text-align: center;

    width: 200px;
    border: none;
    border-radius: 3rem;
    margin-top: 3rem;
    background-color: #e95587;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.register__button:hover {
    background-color: #e26c93;
    color: #ffffff;
}