.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add__form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    max-width: 700px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.add__form h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 2rem;
}

.add__form__question {
    display: grid;
    grid-template-columns: 10fr 2fr 2fr 2fr;
}

.add__form__question p {
    padding-right: 1rem;
}

.add__form__question .add__form__question__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    transition: all 0.15s ease-out 0s;
    background: #ffffff;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
}

.add__form__question input:hover {
    background: #9faab7;
  }
  .add__form__question input:checked {
    background: #ffffff;
  }
  .add__form__question input:checked::before {
    width: 25px;
    height: 25px;
    display:flex;
    content: "✔";
    color: #e95587;
    font-size: 15px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
  }

  .add__form__question .add__form__question__input {
    border-radius: 50%;
  }
  .add__form__question .add__form__question__input::after {
    border-radius: 50%;
  }
  
.add__form__question__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e95587;
}

.add__form__question__container__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: large;
    font-weight: 700;
}

.add__form__question__photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add__form__question__photo {
}

/* ---------------------------- button ---------------------------- */

.add__button {
    padding: 0.6em 1.2em;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s;
    color: #ffffff;
    text-align: center;
    width: 200px;
    border: none;
    border-radius: 3rem;
    margin-top: 3rem;
    background-color: #e95587;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.add__button:hover {
    background-color: #e26c93;
    color: #ffffff;
}

.add__button__container {
    display: flex;
    justify-content: center;
}
