/* ---------------------------- for topbar ---------------------------- */
.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  border-bottom: 2px solid var(--font-color);
  background-color: var(--background-color);
  z-index: 2;
}

.topBar__placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  width: 5rem;
}

.topBar__placeholder__link {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--font-color);
  font-size: large;
  font-weight: 500;
}

.topBar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.topBar__title__link {
  color: inherit;
  font-weight: inherit;
}

.topBar__title__link:hover {
  color: inherit;
}

.topBar__title__zoo {
  color: #e95587;
}

.topBar__mode__button {
  width: 2rem;
  margin-right: 3rem;
  background-color: inherit;
  border: none;
}

/* ---------------------------- for plus ---------------------------- */
.plus {
  position: absolute;
  top: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  color: var(--font-color);
  background-color: #e95587;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}

.plus:hover {
  color: var(--background-color);
}

/* ---------------------------- for children ---------------------------- */
#root {
  width: 100%;
  height: 100%;
}

.light {
  --font-color: #333333;
  --background-color: #ffffff;
}

.dark {
  --font-color: #ffffff;
  --background-color: #333333;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 1200px;
}